# Compiled cource #
########################
*.root
*.xml
*.com
*.class
*.dll
*.jdl
*.sh
*.d
*.so

# Packages #
########################
*.7z
*.dmg
*.gz
*.zip
*.jar

# Files #
#######################
myAnalysis.C
myTask_merge.C
